{
  "bracketSpacing": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "semi": true,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "trailingComma": "all",
  "endOfLine": "lf",
  "tabWidth": 2,

  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-router-dom$",
    "^react(.*)$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/constants",
    "^@/constants/(.*)$",
    "^@/util(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
