{
  "bracketSpacing": false,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "insertPragma": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "trailingComma": "es5",
  "proseWrap": "always",
  "tabWidth": 2,

  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-router-dom$",
    "^react(.*)$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/constants",
    "^@/constants/(.*)$",
    "^@/util(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
